.header {
    background-image: url(../images/Main-background.webp);
    background-repeat: no-repeat;
    color: $white_color;
    height: 1267px;

    &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 308px;
    }

    &__topbar{
        display: flex;
        justify-content: space-between;

        &-logo {
            max-width: 300px;
            width: 100%;
            height: 64px;
        }

        &-contact {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        &-social {
            display: flex;
            gap: 15px;

            a {
                display: inline-flex;
            }

            img {
                width: 40px;
                height: 40px;
            }
        }

        &-phone {
            display: inline-flex;
            font-weight: 900;
            font-family: $font_family_main;
            font-size: 1.5rem;
        }
    }

    &__bottombar {
        display: flex;
        flex-direction: column;
        gap: $content_space;

        h1 {
          font-size: 3.5rem;
        }

        p {
            font-family: $font_family_main;
            font-size: 1.625rem;
            width: 33%;
        }

        &-btn {
            padding: 12px 45px;
            max-width: 280px;
            font-weight: 600;
            width: 100%;
            background-color: $main_color;
            border-radius: 5px;
            text-align: center;
            font-size: 1.125rem;
        }
    }
}


.preview {

    &-wrapper {
        display: flex;
        justify-content: space-evenly
    }

    &__block-img {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        box-shadow: 0px 0px 14px 0px #00000040;
        transform: rotate(350deg) translateZ(0);
        &__social {
            display: flex;
            gap: 15px;
            img {
                width: 35px;
                height: 35px;
            }
        }
    }

    &__block-card {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            span {
                color: $main_color;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: 25px;

            p {
                font-size: 1.125rem;
                font-weight: 500;
            }
        }

        &__skills {
            display: flex;
            flex-direction: column;
            gap: 25px;
            .skills__group{
                display: flex;
                gap: 100px;
            &-values {
                font-family: $font_family_sub;

                div {
                    display: flex;
                    align-items: center;
                    gap: 14px;

                    span {
                        font-size: 0.75rem;
                    }
                }
            }
            }
        }
    }

}


.service {
    padding-bottom: 10px;
    .section-title{
        margin-bottom: 14px;
        &--icons {
            display: inline-block;
            position: relative;
            height: 34px;
            width: 134px;

            &::after {
                position: absolute;
                content: url(../icons/uslugy-icon.svg);
                height: 34px;
                width: 100%;
                top: 2px;
                left: 30px;
            }
        }
    }

    &-start__preview{
        display: flex;
        align-items: center;
        gap: 15px;
        margin-left: 65px;
        margin-bottom: 27px;

        img {
            width: 20px;
            height: 20px;
        }

        p {
            font-family: $font_services_stars;
            font-size: 24px;
            font-weight: 700;
        }
        span {
            font-size: 15px;
            color: #0000004D;
        }
    }

    &-card{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        &__item {
            width: 23%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px 13px 20px 18px;
            font-family: $font_services_text;
            box-shadow: 0px 1px 4px 0px #00000040;
            border-radius: $border_rad;
            &-human {
                display: flex;
                align-items: center;
                gap: 20px;
                &>img {
                    border-radius: 50%;
                    max-width: 52px;
                    width: 100%;
                    height: 52px;
                }

                &--name {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    font-weight: 700;
                }

                .item-human--stars {
                    display: flex;
                    gap: 2px;
                    img {
                        width: 10px;
                        height: 10px;
                    }
                }
            }

            &-text {
                font-size: 0.75rem;
                letter-spacing: 0.3px;
            }

            &-detail {
                a {
                    color: $gray_color;
                    font-size: 0.75rem;
                    display: inline-block;
                    letter-spacing: 0.3px;
                    transition: color 0.5s ease;
                    &:hover{
                        color: $black_color;
                    }
                }
            }
        }
    }
}

.video {

    swiper-slide{
        display: flex;
        width: var(--swiper-slide-size);
    }

    &-content{
        position: relative;

        &__text {
            color: $white_color;
            font-family: $font_family_main;
            font-weight: 700;
            position: absolute;
            bottom: 10px;
            left: 20px;
        }
    }
}

.price {

    &-wrapper {
        padding: 45px 67px;
        background-color: $main_color;
        border-radius: $border_rad;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    &__item {
        color: $white_color;
        width: 30%;
        &-title {
            font-size: 2.625rem;
            font-family: $font_family_sub;
            margin-bottom: 13px;
        }
        &-text {
            font-size: 1.75rem;
            font-family: $font_family_main;
            line-height: 30px;
        }
    }
}

.photograph {
    &__gallery {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;

        &-photo {

            &:nth-child(5),
            &:nth-child(6) {
                grid-column: span 2;
                grid-row: 2;
            }

            &:nth-child(7),
            &:nth-child(8) {
                grid-column: span 2;
                grid-row: 3;
            }
        }
    }

}

.footer {
    background-color: $sub_color;
    margin-bottom: 0;
    padding: 30px;
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 26px;
        color: $white_color;

        &-master {
            font-size: 2rem;
            font-family: $font_family_sub;
            line-height: 40px;
        }

        &-text {
            font-size: 1.75rem;
            line-height: 30px;
        }

        &-logo {
            max-width: 300px;
            width: 100%;
            height: 64px;
        }

        &-social{
            display: flex;
            gap: 15px;
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}
