@font-face {
    font-family: 'NunitoSans-Black';
    src: url('/fonts/NunitoSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NunitoSans-Regular';
    src: url('/fonts/NunitoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DelaGothicOne-Regular';
    src: url('/fonts/DelaGothicOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


.header {
    background-image: url(../images/Main-background.webp);
    background-repeat: no-repeat;
    color: $white_color;
    height: 1267px;

    &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 308px;
    }

    &__topbar{
        display: flex;
        justify-content: space-between;

        &-logo {
            max-width: 300px;
            width: 100%;
            height: 64px;
        }

        &-contact {
            display: flex;
            align-items: center;
            gap: 40px;
        }

        &-social {
            display: flex;
            gap: 15px;

            a {
                display: inline-flex;
            }

            img {
                width: 40px;
                height: 40px;
            }
        }

        &-phone {
            display: inline-flex;
            font-family: $font_nunito_black;
            font-size: 1.5rem;
        }
    }

    &__bottombar {
        display: flex;
        flex-direction: column;
        gap: $content_space;

        h1 {
          font-size: 3.5rem;
        }

        p {
            font-family: $font_nunito_regular;
            font-size: 1.5rem;
            width: 33%;
        }

        a {
            padding: 12px 45px;
            max-width: 280px;
            width: 100%;
            background-color: $main_color;
            border-radius: 5px;
            text-align: center;
            font-size: 1.125rem;
        }
    }
}


.preview {

    &-wrapper {
        display: flex;
        justify-content: space-evenly
    }

    &__block-img {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
        box-shadow: 0px 0px 14px 0px #00000040;
        transform: rotate(350deg) translateZ(0);
        &__social {
            display: flex;
            gap: 15px;
            img {
                width: 35px;
                height: 35px;
            }
        }
    }

    &__block-card {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            span {
                color: $main_color;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            gap: 25px;
        }

        &__skills {
            .skills__group{
                display: flex;
                gap: 100px;
            &-values {

                p {
                    font-weight: 900;
                }

                div {
                    display: flex;
                    align-items: center;
                    gap: 14px;
                }
            }
            }
        }
    }

}


.price {

    &-wrapper {
        padding: 45px 67px;
        background-color: $main_color;
        border-radius: $border_rad;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }

    &__item {
        color: $white_color;
        width: 30%;
        &-title {
            font-size: 2.625rem;
            font-weight: 600;
        }
        &-text {
            font-size: 1.75rem;
            font-family: $font_nunito_regular;
        }
    }
}

.photograph {
    &__gallery {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;

        &-photo {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3)
            &:nth-child(4) {

            }

            &:nth-child(5),
            &:nth-child(6) {

            }

            &:nth-child(7),
            &:nth-child(8) {

            }
        }
    }

}

.footer {
    background-color: $sub_color;
    margin-bottom: 0;
    padding: 30px;
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 26px;
        color: $white_color;

        div {
            font-size: 2rem;
            font-weight: 600;
        }

        p {
            font-size: 1.75rem;
        }

        &-logo {
            max-width: 300px;
            width: 100%;
            height: 64px;
        }

        &-social{
            display: flex;
            gap: 15px;
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}
