$main_color: #AC7C4C;
$sub_color: #53433A;
$hover_color: #273772;
$black_color: #333;
$white_color: #FFFFFF;
$gray_color: #C4C4C4;

$fix_iphone: 100vh;

$gray_bg_color:#F5F5F5;
$gray_border_color:#B4C5C5;

$main_transition: all .5s ease;

$border_rad: 20px;

$font_heading_size: 32px;

$font_family_main:"Nunito Sans", sans-serif ;
$font_family_sub: "Dela Gothic One", sans-serif;

$section_space: 50px;

$content_space: 40px;

$conteiner_max_w: 1700px;

$box_shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
$box_padding: 1.25rem;
$box_border_rad: 6px;

