@import "vars";
@import "null";
@import "fonts";
@import "scroll";
@import "text-styles";
@import "pagination";
@import "burger-icon";
@import "standart";
@import "form/all-form";
@import "elements/all-elements";
@import "potapov";

body{
    font-family: $font_family_main;
    font-size: 16px;
    box-sizing: border-box;
}

header,
footer,
section{
    width: 100%;
    padding: 0 23px $section_space 23px;
    margin-bottom: 40px;
}

h1, h2, h3, h4 {
    font-family: $font_family_sub;

}

h2 {
    font-size: 2rem;
}

.section-title {
    margin-left: 65px;
    margin-bottom: 65px;

    @media (max-width: 1024px) {
        margin-left: 0;
        margin-bottom: 47px;
        font-size: 1.375rem;
    }
}

.container{
    max-width: $conteiner_max_w;
    width:100%;
    margin: 0 auto;
}


a {
    color: $white_color;
}

img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.map_in_page {
    width:100%;
    min-height: 300px;
}

.thencs_section {
    text-align: center;
    height: 80vh;
    .emoji {
        font-size: 100px;
        margin-top: 20px;
    }
}

@media (max-width: 1440px) {
    .container {
        width: 96%;
        margin-left: auto;
        margin-right: auto;
    }
}

// Схема с сайдбаром
// @import "sidebar-schem";

// Боковое беню
// @import "menues";

// Иконка бургера
// @import "burger-icon";
